.custom_nav {
  padding-top:1.5rem;
  padding-bottom: 1rem;
  position:relative ;
  top:2.5rem;
  z-index: 999;
  font-size: 1.5rem;
  font-weight: 600;

}

.sticky-outer-wrapper {
  z-index: 999 !important;
}

.active {
  background-color: #1779ba;
  font-size: 1.5rem;
  color: #FFFFFF !important;
}

a {
  color: #FFFFFF ;
}
